:root{
    --MyOrange: #ff4622; 
    --plotis: 1000px;
    --soninis-atstumas: calc((100% - var(--plotis)) / 2);
    --main-width: calc(100% - var(--soninis-atstumas));
    --text-width: calc(var(--plotis) * 0.4);
    --text-margin: calc(var(--plotis) * 0.1);
    --image-width: calc(var(--plotis) * 0.5 + var(--soninis-atstumas));
}

body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}

body{
    background-color:  white;
}

main{
    width: var(--main-width);
    margin-left: var(--soninis-atstumas);
    background-color: rgb(195, 204, 157);
}

header{
    width: var(--plotis);
    height: 50px;
    float: left;
    display: inline-block;
    /* background-color: brown; */
}

header > img{
    margin-top: 0;
    height: 40px;
    float: left;
    display: inline-block;
}

/* first and last wordf diffrent */
header > h2{
    margin-top: 10px;
    line-height: 40px;
    font-size: 16px;
    
    color: black;
    font-family: cursive;
    float: left;
    display: inline-block;
}

header > h2 > ok{
    color: var(--MyOrange);
}

header > right
{
    display: inline-block;
    float: right;
}

/* diffrent last and first element */
header > right > a{
    margin-left: 20px;
    margin-top: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: cursive;
    /* background-color: blueviolet; */
    float: left;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

header > right > a:hover{
    border-bottom: 3px solid red;
}

header > right > a:first-child{
    margin-left: 0px;
    border-bottom: 3px solid red;
}

header > right > a:last-child{
}

page-main{
    width: var(main-width);
}

/* left */

page-main > left{
    margin-top: 100px;
    margin-left: 0%;
    float: left;
    display: inline-block;
    width: 40%;
}

page-main > left > h1{
    float: left;
    display: inline-block;
    width: 100%;

    font-family: cursive;
    line-height: 40px;
    font-size: 36px;
}

page-main > left > h1 > span {
    color: var(--MyOrange);
}

page-main > left > p{
    float: left;
    display: inline-block;
    width: 100%;

    margin-top: 20px;
}

page-main > left > a{
    float: left;
    display: inline-block;

    margin-top: 20px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;


    color: white;
    text-decoration: none;
    background-color: var(--MyOrange);
    border-radius: 10px;
    border: 3px solid rgb(39, 27, 11);
}

page-main > left > a:hover{
    background-color: white;
    color: var(--MyOrange);
    border: 3px solid rgb(39, 27, 11);
}

/* right */

page-main > right{
    float: right;
    display: inline-block;
    width: 50%;
}

page-main > right > img{
    width: 500px;
}